@charset "UTF-8";
/**
 * animate生产
 */
//例子
/* @include keyframes('icon-one') {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
} */