@charset "UTF-8";
/**
 * 颜色变量 （包括文字、背景、边框等）
 */
//文字类
$default: #4c4f56;                  //正常文本
$error: #ffe5e4;                    //错误文本
$disabled: #d3d1e7;                 //不能点击

//背景色
$bg_body: #f1f1f1;                  //body背景色
$bg_default: #ccc;                  //默认背景色
$bg_info: #ccc;                     //正常信息背景色
$bg_success: #5cb85c;               //成功信息背景色
$bg_error: #ffe5e4;                 //错误信息背景色
$bg_warning: #f0ad4e;               //警告信息背景色

$bg_shade: rgba(0, 0, 0, 0.15);     //透明背景色 弹层等使用

//边框
$bc_default: #d8d5e8;               //默认普通边框
$bc_default_focus: #9a94db;         //默认边框活得焦点
$bc_error: #ffe5e4;                 //错误信息边框

//阴影
$shadow: #e9e8f6;                   //普通阴影
