@charset "UTF-8";
/**
 * mixin生产
 */


/**
 * 普通属性css3 前缀添加
 */
//定义存在的浏览器前缀
$prefix-for-webkit: true !default;
$prefix-for-mozilla: true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera: true !default;
$prefix-for-spec: true !default;

@mixin prefixer ($property, $value, $prefixes){
    @each $prefix in $prefixes{
        @if $prefix == webkit and $prefix-for-webkit == true {
            -webkit-#{$property}: $value;
        }
        @else if $prefix == moz and $prefix-for-mozilla == true {
            -moz-#{$property}: $value;
        }
        @else if $prefix == ms and $prefix-for-microsoft == true {
            -ms-#{$property}: $value;
        }
        @else if $prefix == o and $prefix-for-opera == true {
            -o-#{$property}: $value;
        }
        @else if $prefix == spec and $prefix-for-spec == true {
            #{$property}: $value;
        }
    }
}


/**
 * keyframes 前缀
 */
$keyframes-for-webkit: true !default;
$keyframes-for-mozilla: false !default;
$keyframes-for-microsoft: true !default;
$keyframes-for-opera: false !default;
$keyframes-for-spec: true !default;

@mixin keyframes($animationName){
    @if $keyframes-for-webkit == true {
        @-webkit-keyframes #{$animationName} {
            @content;
        }
    }
    @if $keyframes-for-mozilla == true {
        @-moz-keyframes #{$animationName} {
            @content;
        }
    }
    @if $keyframes-for-microsoft == true {
        @-ms-keyframes #{$animationName} {
            @content;
        }
    }
    @if $keyframes-for-opera == true {
        @-o-keyframes #{$animationName} {
            @content;
        }
    }
    @if $keyframes-for-spec == true {
        @keyframes #{$animationName} {
            @content;
        }
    }
}



