@charset "UTF-8";
//其他变量（除颜色定义）

//字号
$f_size1 :12px;                     //文本字体大小————12px
$f_size2 :14px;                     //文本字体大小————13px
$f_size3 :16px;                     //文本字体大小————14px
$f_size4 :18px;                     //文本字体大小————15px
$f_size5 :20px;                     //文本字体大小————16px

